<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Contacto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <h1>Nuevo Contacto</h1>

    <form action="/create" method="POST">
        <input type="text" name="nombres" placeholder="Nombres" required>
        <input type="text" name="apellidos" placeholder="Apellidos" required>
        <input type="text" name="direccion" placeholder="Dirección">
        <input type="number" name="telefono" placeholder="Teléfono">
        <button type="submit">Guardar</button>
    </form>

    <a href="/">⬅️ Volver</a>

</body>
</html>
